@using EcommSimpleShop.Data
@model EcommSimpleShop.Data.Product

@{
    ViewData["Title"] = "Product details";
}

<div flashes></div>

<div class="col-12">
    <div class="row">
        <div class="col-4">
            <img src="@Model.ImageUrl" alt="Product image" class="full-width"/>
        </div>
        <div class="col-8">
            <h2>
                @Model.Name
            </h2>
            <h3>
                @((Model.Price / 100.0).ToString("N2")) zł
            </h3>
            <form asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.ActionContext.HttpContext.Request.Path" method="post">
                <input name="quantity" type="number" max="@Model.Quantity" value="1"/> (@Model.Quantity available)
                <input type="submit" class="btn btn-primary" value="Add to cart"/>
            </form>
        </div>
    </div>
</div>
<h1>
    Description
</h1>
<p>
    @Model.Description
</p>